{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

    Decisión del comprador (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }}))
{% endblock %}

{% block content %}

{% block scripts %}

<script>
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{% endblock %}

{% comment %} info de tooltip: https://www.w3schools.com/css/css_tooltip.asp {% endcomment %}

<style>
    .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
</style>

 <p>En la siguiente tabla usted podrá ver cada uno de los paquetes con su respectiva valoración privada.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Paquete</th>
                <th scope="col">Valoración</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Su código de comprador  es:</td>
                <td>{{ player.id_in_group }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Valoraciones privadas para los paquetes</b></td>
            </tr>
            {% for pac, val in pac_val.items %}
            <tr>
                <td> {{pac.1}}</td>
                <td>{{ val }} UME</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>En esta página usted podrá ver la lista completa de ofertas de paquetes con sus respectivos precios. Recuerde que
        , para poder comprar un paquete, este debe tener un precio menor que la valoración privada que usted recibió
        para ese paquete o la transacción se anulará.</p>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Código del vendedor</th>
                <th scope="col">Oferta</th>
            </tr>
        </thead>
        <tbody>
{%for p in group.get_players %}
    {% if p.role == "seller" %}
            <tr>
                <td>Seller {{p.id_in_group}}</td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">{{p.get_seller_package_display}}</h3>
                        <div class="card-body text-dark">
                            {% if p.com_practice == 1 %}
                            <h5 class="card-title">{{p.ask_price_fin}} </h5>
                            <br>
                            <p class="card-text">Mejor precio garantizado</p>
                            {% elif p.com_practice == 2 %}
                            <h5 class="card-title"><del>{{p.ask_price_ini|c}}</del> </h5>
                            <br>
                            <h5 class="card-title">{{p.ask_price_fin|c}} </h5>
                            {% elif p.com_practice == 3 %}
                            <h5 class="card-title"><del>{{p.ref20 |c}}</del> </h5>
                            <br>
                            <h5 class="card-title">{{p.ask_price_fin|c}} </h5>
                            {% elif p.com_practice == 4 %}
                            <h5 class="card-title">
                               {{ p.drip|c}} <a href = # data-toggle="tooltip" title = "Precio total = {{p.drip|c}} + 1 UME  ={{p.ask_price_fin}}" data-original-title="Default tooltip">*</a>
                            </h5>
                            {% else %}
                            <h5 class="card-title">{{p.ask_price_fin}} </h5>
                            {% endif %}
                            <hr class="my-4">
                            <button name = "my_seller" value = {{p.id_in_group}} class = "btn btn-primary btn-large">Comprar</button>
                        </div>
                    </div>
                </td>
    {% endif %}
{% endfor %}
        </tbody>
        </table>

    <p>Recuerde que usted tiene la posibilidad de reportar el uso no verídico de prácticas comerciales por parte de
        algún vendedor. Si considera que algún vendedor ha hecho uso de las prácticas comerciales de manera no verídica,
        por favor anote su número identificador ya que en la siguiente página se lo pediremos.</p>

    <p>Si al menos 3 compradores reportan a un mismo vendedor por haber usado alguna práctica comercial de manera no
        verídica, el vendedor deberá pagar una multa. Esta multa será de 6 UME más 2 UME por cada comprador adicional
        que lo reporte. El monto de la multa será dividido de manera equitativa entre los compradores que reportaron
        al vendedor.</p>

    <p>¿Le gustaría reportar a un vendedor? Reportar le costará a usted 1 UME que será deducida de su dotación inicial </p>
    <div class = "form-inline">{{form.report}} </div>

    <p>Una vez de clic en el botón “Comprar” se calculará su pago para este periodo de negociación.</p>

{{ form.my_seller.errors }}

{% endblock %}
