{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if player.role == "seller" %}
        Decisión del vendedor (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
    {% else %}
        Decisión del comprador (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
    {% endif %}
{% endblock %}

{% block content %}
    {% if player.role == "seller" %}
    <p>Usted fue asignado al rol de vendedor. Recuerde que usted tendrá este rol asignado durante los 5 periodos de
        negociación. Usted podrá vender solo un paquete turístico por cada periodo de negociación. El computador le
        asignará aleatoriamente uno de los 5 paquetes turísticos disponibles para que usted lo venda en el mercado.
        Tenga en cuenta que otros vendedores pueden vender el mismo paquete turístico que usted. Adicionalmente, a
        usted se le dará una “valoración” de ese paquete. Esta valoración representa el costo en el que usted incurriría
        si usted llegara a cerrar una transacción.</p>

    <p>Tenga en cuenta que los costos son privados, es decir, solo usted conoce este valor. Ni los otros vendedores ni
        los compradores conocen esta información. En total hay 5 tipos de paquetes turísticos cuya única diferencia será
        el destino: Berlín, Madrid, Viena, Paris y Roma. Usted solo recibirá uno de estos y su respectivo costo.</p>

    <p>Usted deberá fijar un precio para el paquete que le fue asignado. Este precio debe ser mayor que el costo del
        paquete. Sus ganancias serán calculadas como la diferencia entre el precio que usted fije y el costo del
        paquete. Si usted no logra completar una transacción, usted no incurrirá en ningún costo, pero tampoco tendrá
        ninguna ganancia. Piénselo de esta manera, supongamos que usted tenga la posibilidad de conseguir el paquete en
        cuestión, y si logra venderlo, se ganaría la diferencia. El costo es lo que tendría que pagar para conseguir el
        paquete. Si el costo es de 50 UME y usted logra vender el paquete por 70 UME, entonces su ganancia sería de  20
        UME (más la dotación inicial de {{ Constants.endowment }} UME). Si no logra vender el paquete, su ganancia sería
        de cero (más la dotación inicial de {{ Constants.endowment }} UME), es decir no incurriría en ningún costo ni
        recibiría ningún ingreso</p>

    <p>Veamos otro ejemplo:</p>

    <p>Suponga que el costo de su paquete es de 30 UME y usted logra vender el paquete con un precio de 50 UME. Usted
        ganará entonces 50 UME - 30 UME = 20 UME (más la dotación inicial de {{ Constants.endowment }} UME). Si usted
        no logra cerrar una transacción, no incurrirá en ningún costo ni en ninguna ganancia, es decir, su ganancia será
        de 0 UME (más la dotación inicial de {{ Constants.endowment }} UME)</p>

    <p>Es importante notar que dos compradores pueden seleccionar la misma oferta, pero solo uno de ellos completará la
        transacción. Quien tome la decisión de comprar el paquete de manera más rápida será quien complete la
        transacción con usted.</p>


    <p>Por favor presione el botón "Siguiente" para ver el paquete que usted va a vender y su costo.</p>


    {% else %}
    <p>Usted fue asignado al rol de comprador. Recuerde que usted tendrá este rol asignado durante los 5 periodos de
        negociación. Usted podrá comprar solo un paquete turístico por cada periodo de negociación. El computador le
        dará una “valoración” para cada uno de los paquetes que encontrará a la venta en el mercado. Esta valoración
        representa qué tanto valor le genera adquirir ese paquete si usted llegara a cerrar una transacción. En total
        hay 5 tipos de paquetes turísticos cuya única diferencia será el destino: Berlín, Madrid, Viena, Paris y Roma.
        Usted solo recibirá cinco valoraciones, una para cada uno de los paquetes.</p>

    <p>Tenga en cuenta que las valoraciones son privadas, es decir, solo usted conoce este valor. Ni los otros
        compradores ni los vendedores conocen esta información.</p>

    <p>A usted se le mostrará una lista con todas las ofertas de paquetes en el mercado y sus respectivos precios. Para
        cerrar una transacción, usted deberá seleccionar uno y solo uno de los paquetes en el mercado. Sus ganancias
        serán calculadas como la diferencia entre su valoración y el precio al que adquirió el paquete. Si usted no
        logra completar una transacción, usted no tendrá ninguna ganancia. (más la dotación inicial de
        {{ Constants.endowment }} UME). </p>

    <p>Piénselo de esta manera, supongamos que usted tenga la posibilidad de revender cada uno de los cinco paquetes en
        cuestión, y si logra conseguir uno, se ganaría la diferencia. La valoración es lo que recibiría al revender el
        paquete. Si la valoración es 70 UME y usted logra conseguir el paquete a un precio de 50 UME, entonces su ganancia sería de
        20 UME (más la dotación inicial de {{ Constants.endowment }} UME). Si no logra comprar el paquete, su ganancia
        sería de cero, es decir no pagaría ningún precio y ni recibiría ningún ingreso (excepto por la dotación inicial
        de {{ Constants.endowment }} UME).</p>

    <p>Veamos otro ejemplo:</p>

    <p>Suponga que el valor para el paquete que usted decide comprar es de 50 UME y usted logra comprar el paquete a un precio de
        30 UME. Usted ganará entonces 50 UME - 30 UME = 20 UME  (más la dotación inicial de {{ Constants.endowment }} UME).
        Si usted no logra cerrar una transacción, no incurrirá en ningún costo ni en ninguna ganancia, es decir, su ganancia será de 0 UME
      (más la dotación inicial de {{ Constants.endowment }} UME).</p>

    <p>Es importante notar que dos compradores pueden seleccionar la misma oferta pero solo uno de ellos completará la
        transacción. Quien tome la decisión de comprar el paquete de manera más rápida será quien complete la transacción.</p>

    <p>Por favor de clic en el botón “Siguiente” para conocer sus valoraciones privadas de cada uno de los paquetes,
        para ver la lista de ofertas, y para que seleccione al menos una.</p>
    {% endif %}
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Siguiente</button>

{% endblock %}