{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decisión del vendedor (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <table class="table table-bordered">

        <tbody>
        <tr>
                <td>Su número de vendedor es:</td>
                <td> {{player.id_in_group}} </td>
        </tr>
            <tr>
                <td>El paquete que usted va a vender es:</td>
                <td> {{player.get_seller_package_display}} </td>
            </tr>
            <tr>
                <td>El costo de este paquete es:</td>
                <td> {{player.seller_valuation |c}}</td>
            </tr>
            <tr>
                <td>Por favor ingrese el precio al que usted quiere vender este paquete en el siguiente recuadro:<br>
                Recuerde que para poder hacer ganancias, usted debe vender el paquete a un precio mayor que su costo.</td>
                <td><div class = "form-inline"> {{ form.ask_price_ini}} &nbsp; ECU</div></td>
            </tr>
            <tr>
                <td>¿Le gustaría ver la lista completa de ofertas, incluyendo los precios, en el mercado de paquetes?<br>
                    Esta acción le costará {{Constants.see_list_cost}} UME que serán deducidas de su dotación inicial.</td>
                <td>{{ form.see_list }}</td>

            </tr>
        </tbody>
    </table>


    <p>Por favor de clic en el botón “Siguiente” para ver la lista completa de ofertas y de precios en el mercado y para
        definir el precio final del paquete que va a vender.</p>

    {% next_button %}
{% endblock %}
