{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decisión del vendedor (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
{% endblock %}

{% block content %}

    {% if player.see_list == 1 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Su número de vendedor es:</th>
                <th scope="col">El paquete que usted va a vender es:</th>
                <th scope="col">El precio inicial que usted decidió fue:</th>
            </tr>
        </thead>
        <tbody>
        {% for p in group.get_players %}
        {% if p.role == 'seller' %}
            <tr>
                <td> {{p.id_in_group}}</td>
                <td> {{p.get_seller_package_display}}</td>
                <td> {{p.ask_price_ini|c}}</td>
            </tr>
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% endif %}

    <table class = "table table-bordered">
        <tbody>
            <tr>
                <td>El costo de este paquete es:</td>
                <td>{{player.seller_valuation}} UME </td>
            </tr>
            <tr>
                <td>El precio inicial que usted decidió fue::</td>
                <td>{{player.ask_price_ini}} UME </td>
            </tr>
            <tr>
                <td>Si usted desea cambiar el precio de su paquete, por favor escriba el precio final en la caja abajo: <br>
                Recuerde que para que usted pueda hacer ganancias debe vender el paquete a un precio por encima de su costo.</td>
                <td><div class = "form-inline"> {{ form.ask_price_fin }} &nbsp; UME  </div></td>
            </tr>
        </tbody>
    </table>
    <p>Una vez usted haya decidido el precio final, por favor de clic en el botón "Siguiente".</p>


    {% next_button %}
{% endblock %}
