{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resumen de la actividad del día de hoy
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" colspan="2">Resultados de la actividad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>El periodo de negociación sorteado para pago es:</td>
                <td>{{ paying_round }}</td>
            </tr>
            <tr>
                <td>Su pago (incluyendo la dotación inicial de {{ endowment }} UME) es:</td>
                <td>{{ payoff_final }}</td>
            </tr>
        </tbody>
    </table>

    <p>
    Por favor de clic en el botón "Siguente" para continuar con el cuestionario.
    </p>

    {% next_button %}
{% endblock %}


{% block styles  %}
{% endblock %}

