{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if player.role == "seller" %}
        Decisión del vendedor (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
    {% else %}
        Decisión del comprador (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
    {% endif %}
{% endblock %}

{% block content %}
    {% if player.role == "seller" %}
    <p>Usted fue asignado al rol de vendedor. Recuerde que usted tendrá este rol asignado durante los 5 periodos de
        negociación. Usted podrá vender solo un paquete turístico por cada periodo de negociación. El computador le
        asignará aleatoriamente uno de los 5 paquetes turísticos disponibles para que usted lo venda en el mercado.
        Tenga en cuenta que otros vendedores pueden vender el mismo paquete turístico que usted. Adicionalmente, a
        usted se le dará una “valoración” de ese paquete. Esta valoración representa el costo en el que usted incurriría
        si usted llegara a cerrar una transacción.</p>

    <p>Tenga en cuenta que los costos son privados, es decir, solo usted conoce este valor. Ni los otros vendedores ni
        los compradores conocen esta información. En total hay 5 tipos de paquetes turísticos cuya única diferencia será
        el destino: Berlín, Madrid, Viena, Paris y Roma. Usted solo recibirá uno de estos y su respectivo costo.</p>

    <p>Usted deberá fijar un precio para el paquete que le fue asignado. Este precio debe ser mayor que el costo del
        paquete. Sus ganancias serán calculadas como la diferencia entre el precio que usted fije y el costo del
        paquete. Si usted no logra completar una transacción, usted no incurrirá en ningún costo, pero tampoco tendrá
        ninguna ganancia. Piénselo de esta manera, supongamos que usted tenga la posibilidad de conseguir el paquete en
        cuestión, y si logra venderlo, se ganaría la diferencia. El costo es lo que tendría que pagar para conseguir el
        paquete. Si el costo es de 50 ECU y usted logra vender el paquete por 70 ECU, entonces su ganancia sería de  20
        ECU (más la dotación inicial de {{ Constants.endowment }} UME). Si no logra vender el paquete, su ganancia sería
        de cero (más la dotación inicial de {{ Constants.endowment }} UME), es decir no incurriría en ningún costo ni
        recibiría ningún ingreso</p>

    <p>Veamos otro ejemplo:</p>

    <p>Suponga que el costo de su paquete es de 30 ECU y usted logra vender el paquete con un precio de 50 ECU. Usted
        ganará entonces 50 ECU - 30 ECU = 20 ECU (más la dotación inicial de {{ Constants.endowment }} UME). Si usted
        no logra cerrar una transacción, no incurrirá en ningún costo ni en ninguna ganancia, es decir, su ganancia será
        de 0 ECU (más la dotación inicial de {{ Constants.endowment }} UME)</p>

    <p>Es importante notar que dos compradores pueden seleccionar la misma oferta, pero solo uno de ellos completará la
        transacción. Quien tome la decisión de comprar el paquete de manera más rápida será quien complete la
        transacción con usted.</p>

    <p>Adicionalmente usted podrá escoger una práctica comercial para ayudarlo a que su paquete sea más atractivo en el
        mercado. Las prácticas comerciales son tres y si las usa estas serán visibles para el comprador a la hora de
        completar la transacción. Sin embargo, tenga en cuenta que cualquiera de estas prácticas comerciales puede ser
        usada de manera verídica o no verídica.</p>

    <p>Por favor presione el botón "Siguiente" para ver el paquete que usted va a vender y su costo.</p>


    {% else %}
    <p>Usted fue asignado al rol de comprador. Recuerde que usted tendrá este rol asignado durante los 5 periodos de
        negociación. Usted podrá comprar solo un paquete turístico por cada periodo de negociación. El computador le
        dará una “valoración” para cada uno de los paquetes que encontrará a la venta en el mercado. Esta valoración
        representa qué tanto valor le genera adquirir ese paquete si usted llegara a cerrar una transacción. En total
        hay 5 tipos de paquetes turísticos cuya única diferencia será el destino: Berlín, Madrid, Viena, Paris y Roma.
        Usted solo recibirá cinco valoraciones, una para cada uno de los paquetes.</p>

    <p>Tenga en cuenta que las valoraciones son privadas, es decir, solo usted conoce este valor. Ni los otros
        compradores ni los vendedores conocen esta información.</p>

    <p>A usted se le mostrará una lista con todas las ofertas de paquetes en el mercado y sus respectivos precios. Para
        cerrar una transacción, usted deberá seleccionar uno y solo uno de los paquetes en el mercado. Sus ganancias
        serán calculadas como la diferencia entre su valoración y el precio al que adquirió el paquete. Si usted no
        logra completar una transacción, usted no tendrá ninguna ganancia. (más la dotación inicial de
        {{ Constants.endowment }} UME). </p>

    <p>Piénselo de esta manera, supongamos que usted tenga la posibilidad de revender cada uno de los cinco paquetes en
        cuestión, y si logra conseguir uno, se ganaría la diferencia. La valoración es lo que recibiría al revender el
        paquete. Si la valoración es 70 ECU y usted logra conseguir el paquete a un precio de 50 ECU, entonces su ganancia sería de
        20 ECU (más la dotación inicial de {{ Constants.endowment }} UME). Si no logra comprar el paquete, su ganancia
        sería de cero, es decir no pagaría ningún precio y ni recibiría ningún ingreso (excepto por la dotación inicial
        de {{ Constants.endowment }} UME).</p>

    <p>Veamos otro ejemplo:</p>

    <p>Suponga que el valor para el paquete que usted decide comprar es de 50 ECU y usted logra comprar el paquete a un precio de
        30 ECU. Usted ganará entonces 50 ECU - 30 ECU = 20 ECU  (más la dotación inicial de {{ Constants.endowment }} UME).
        Si usted no logra cerrar una transacción, no incurrirá en ningún costo ni en ninguna ganancia, es decir, su ganancia será de 0 ECU
      (más la dotación inicial de {{ Constants.endowment }} UME).</p>

    <p>Es importante notar que dos compradores pueden seleccionar la misma oferta pero solo uno de ellos completará la
        transacción. Quien tome la decisión de comprar el paquete de manera más rápida será quien complete la transacción.</p>

    <p>Adicionalmente, note que los vendedores podrán escoger prácticas comerciales para que sus paquetes sean más
        atractivos en el mercado. Las prácticas comerciales son tres y si un vendedor las usa estas serán visibles para
        usted a la hora de completar la transacción. Sin embargo, tenga en cuenta que cualquiera de estas prácticas
        comerciales puede ser usada de manera verídica o no verídica.</p>

    <p>Hay tres prácticas comerciales disponibles que los vendedores podrán usar para hacer sus paquetes más atractivos
        en el mercado. Estas son:</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Práctica Comercial</th>
                <th scope="col">Definición</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Mejor precio garantizado</th>
                <td>Esta práctica comercial permite hacer el anuncio de que entre todos los paquetes con el mismo
                    destino, este tiene el menor precio</td>
                <td>Suponga que el vendedor ofrece un paquete a Roma. Puede haber otros vendedores en el mercado
                    vendiendo el mismo paquete a Roma, pero si el vendedor opta por esta práctica comercial, el vendedor
                    estará diciendo que, de todos los paquetes a Roma, el de él/ella es el más barato.</td>
            </tr>
            <tr>
                <th scope="row">Precio de referencia</th>
                <td>Esta práctica comercial permite hacer el anuncio de que entre el primer precio que propuso y el
                    efectivo el vendedor quiso hacer un descuento.</td>
                <td>Suponga que el vendedor ofrece un paquete a Roma. El vendedor puede decir que él/ella hizo un
                    descuento entre el primer precio que ofreció de 60 UME y el precio final (el que el vendedor
                    confirmó después de observar o no a la competencia).</td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>Esta práctica comercial permite mostrar un precio para el paquete que está ofertando que es menor al
                    precio total. La diferencia entre el precio real y el precio que está mostrando es igual al costo
                    por ver la lista completa de paquetes  (2 ECU), independientemente de si el vendedor decidió pagar
                    este costo o no.</td>
                <td>Suponga que usted oferta un paquete a Roma y el precio que usted quiere que le paguen por este
                    paquete es de 80 UME. Sí el comprador decide usar esta práctica comercial, su oferta aparecerá con
                    un precio de 78* UME, con una nota que indica el precio total.</td>
        </tbody>
    </table>

    <p>Note que estas prácticas comerciales se pueden usar de manera verídica (caso 1) o no verídica (caso 2). Usando
        los ejemplos de la tabla anterior, en la siguiente tabla encontrará cada una de las prácticas comerciales y los
        ejemplos del caso 1 y caso 2.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Práctica Comercial</th>
                <th scope="col">Caso 1 (uso verídico)</th>
                <th scope="col">Cas2 2 (uso no verídico)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Mejor precio garantizado</th>
                <td>1) Cuando no existe otro paquete a Roma. 2) Cuando exista al menos otro paquete a Roma y este tenga
                    un precio superior al de su oferta.</td>
                <td>1) Cuando existe al menos otro paquete a Palau y, adicionalmente, este tiene un precio menor al de su oferta.</td>
            </tr>
            <tr>
                <th scope="row">Precio de referencia</th>
                <td>1) Uso del verdadero descuento.</td>
                <td>1) Uso del verdadero descuento más 20 UME</td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>1) Cuando el vendedor muestra el precio menos el costo de ver la primera oferta de los demás vendedores</td>
                <td>1) Cuando el vendedor decide no asumir el costo de ver la lista completa de paquetes con los
                    precios, pero muestra el precio al neto de ese costo.</td>
            </tr>
        </tbody>
    </table>

    <p>Recuerde que es decisión del vendedor usar o no alguna de estas prácticas comerciales.</p>

    <p>En la siguiente tabla podrá ver como luciría un paquete en la lista de ofertas con cada una de las prácticas comerciales.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Práctica comercial</th>
                <th scope="col">Cuando no se usa</th>
                <th scope="col">Cuando se usa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Mejor precio garantizado</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Roma</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Roma</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <p class="card-text">Mejor precio garantizado</p>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Precio de referencia</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Roma</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Roma</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title"><del> 100 ECU </del></h5>
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Roma</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Roma</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title"> 78 ECU*</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
                        </div>
                    </div>
                </td>
        </tbody>
    </table>

    <p>Por favor de clic en el botón “Siguiente” para conocer sus valoraciones privadas de cada uno de los paquetes,
        para ver la lista de ofertas, y para que seleccione al menos una.</p>
    {% endif %}
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Siguiente</button>

{% endblock %}