{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Cuestionario
{% endblock %}

{% block content %}

    <p>
        Le agradecemos por su participación en esta actividad
    </p>
    <p>
    Mientras preparamos su pago, por favor responda las siguientes preguntas. Al final los llamaremos uno a uno para
        entregarles el dinero que han ganado.
    </p>
    <p>
    Por favor de clic en el botón "Siguiente" para continuar con el cuestionario.
    </p>

    {% next_button %}

{% endblock %}

{% block styles  %}
{% endblock %}
