{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consentimiento informado
{% endblock %}

{% block content %}

    <p>Usted ha sido invitado a participar en una actividad cuyo propósito es entender cómo las personas toman
        decisiones. La actividad será llevada a cabo por Open Evidence S.A. Usted debe ser mayor de edad para poder
        participar en esta actividad.</p>

    <p>Si usted acepta participar tendrá que tomar una serie de decisiones y tendrá que responder algunas preguntas. La
        participación en esta actividad le tomará máximo una hora de su tiempo. Participar en esta actividad no involucra
        ningún riesgo.</p>

    <p>Usted tendrá la posibilidad de ganar cierta cantidad de dinero. Al principio usted empezará con 25 Euros, sin
        embargo, sus ganancias pueden variar dependiendo de sus decisiones. EL pago será en efectivo una vez esta
        actividad termine.</p>

    <p>La participación es voluntaria y usted podrá retirarse en cualquier momento, pero si usted se retira, usted no
        recibirá ningún dinero.</p>

    <p>La metodología de este estudio garantiza completa anonimidad. A información que usted provea acá es absolutamente
        confidencial y solo será usada con fines estadísticos. Después de completar esta actividad, sus datos personales
        como su nombre o su número de identificación personal serán eliminados de nuestra base de datos. Toda la
        información que usted provea será tratada de acuerdo con [LEGISLACIÓN EUROPEA RELEVANTE].</p>

    <p>Si hay algo de este estudio que necesita ser clarificado, si usted quiere reportar algún inconveniente o si usted
        tiene dudas acerca de sus derechos como participante en esta actividad, o sobre cualquier otro asunto
        relacionado, no dude en contactar a [INFORMACIÓN DE CONTACTO OE].</p>

    <p>Al firmar abajo usted declara que ha sido debidamente informado y que usted participa en esta actividad de manera
        voluntaria.</p>

    <p>
    </p>
    <p>[Ciudad, (fecha)]
    </p>
    <p>Nombre completo: {{ form.nombre }}
    </p>
    <p>Número de identificación personal: {{ form.id_number }}
    </p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Acepto participar</button>

{% endblock %}

{% block styles  %}
{% endblock %}

