{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    PRIMERA PARTE
{% endblock %}

{% block content %}

    <p>En esta parte se llevará a cabo un mercado de paquetes turísticos. El mercado tiene en total 5 periodos de
        negociación. Antes de iniciar con el primer periodo de negociación, el computador lo asignará de manera
        aleatoria a uno de dos roles: el rol de comprador o el rol de vendedor. Tenga en cuenta que el rol al que fue
        asignado se mantendrá durante los 5 periodos de negociación.</p>

    <p>El objetivo del mercado es que compradores y vendedores puedan negociar y eventualmente logren completar
        transacciones de manera exitosa en cada uno de los periodos de negociación. Los resultados de las transacciones
        afectarán su pago final.</p>

    <p>En este mercado, cada mercancía es un paquete turístico. En total hay 5 tipos de paquetes turísticos cuya única
        diferencia será el destino: Berlín, Madrid, Viena, Paris y Roma.</p>

    <p>En cada uno de los periodos de negociación, primero los vendedores fijarán unos precios a los paquetes turísticos
        que ellos venderán y después los compradores verán una lista que contendrá los paquetes disponibles en el
        mercado y los precios de cada uno de estos paquetes. Para completar una transacción, los compradores deberán
        seleccionar el paquete de su preferencia y comprarlo. Tenca en cuenta que si dos compradores escogen el mismo
        paquete, aquel que lo haga mas rápido será el que complete la transacción./p>

    <p>Antes de iniciar, tanto vendedores como compradores tendrán una dotación inicial de {{Constants.endowment}}
    (Unidades Monetarias Experimentales) en cada uno de los periodos de negociación para que tomen sus decisiones.
    El pago que usted verá después de cada una de las rondas de negociación considerará ambos su dotación inicial y las
    ganancias que obtenga por sus decisiones.
    </p>

    <p>Por favor de clic en el botón “Siguiente” para iniciar con los periodos de negociación.</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Siguiente</button>

{% endblock %}
